
@font-face {
	font-family: "Atlas Typewriter";
	font-weight: normal;
	src: url("/assets/fonts/AtlasTypewriter-Regular.woff") format("woff"),
			 url("/assets/fonts/AtlasTypewriter-Regular.ttf")  format("truetype");
}

@font-face {
	font-family: "Atlas Typewriter";
	font-weight: bold;
	src: url("/assets/fonts/AtlasTypewriter-Medium.woff") format("woff"),
			 url("/assets/fonts/AtlasTypewriter-Medium.ttf")  format("truetype");
}