
:root {

	/**
	 * Colors
	 */
	--background: #f9f9f9;
	--highlight:  #ef6875; /* ff6565 */
	--gradient:   linear-gradient(45deg, #5bbadf 0%,#7dcbbd 100%);

	/**
	 * Typography
	 */
	--type-stack:       "Atlas Typewriter", sans-serif;
	--type-color:       #242424;
	--type-root-size:   11px;
	--type-line-height: 1.67;

}
