{
  "presets": [
    "next/babel",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."]
    }],
    ["inline-import", {
      "extensions": [
        ".vert",
        ".frag",
        ".css",
        ".md"
      ]
    }],
    "markdown-in-js/babel"
  ]
}
