{
  "parser": "babel-eslint",
  "extends": "watsi",
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": "off",
    "no-bitwise": "off",
    "no-return-assign": ["error", "except-parens"],
    "react/sort-comp": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
