# Ignore system junk
.DS_Store

# Ignore design files
design/
resources/
research/

# Ignore content files
content/

# Ignore manifest and build files
node_modules/
npm-debug.log
components/
build/
public/assets/
