{% extends 'layout/base' %}

{% block title -%}
	{{ experiment.title }} &mdash; {% parent %}
{%- endblock %}

{% block body %}

	<main class="experiments">
		<nav>
			{% for experiment in experiments %}
				<a href="{{ experiment.url }}" data-url="{{ experiment.frame }}">{{ experiment.title }}</a>
			{% endfor %}
		</nav>
	</main>

	<script src="/assets/js/libraries.js"></script>
	<script src="/assets/js/index.js"></script>

{% endblock %}