{% extends 'layout/site' %}

{% block content %}

	<section class="content">
	
		<nav class="menu">
			<div>
				<a href="/" class="active">Projects</a>
				<a href="/experiments">Experiments</a>
				<a href="/information">Information</a>
			</div>
			<div>
				<!-- <a href="#" target="_blank">Thesis</a> -->
				<a href="http://rosszurowski.tumblr.com" target="_blank">Tumblr</a>
			</div>
		</nav>
	
		<header class="intro">
			<h2>Ross Zurowski</h2>
			<h4>Designer &amp; Developer</h4>
		</header>
		
		<div class="description">
			<p>Exploring systems, structures, and affordances.</p>
		</div>
		
		<div class="gradient"></div>
		
		<div class="structure">
			<div class="line"></div>
			<div class="header row">
				<div class="year">Year</div>
				<div class="name">Project</div>
				<div class="format">Type</div>
			</div>
			<a href="/palantir" class="row">
				<div class="year dash"></div>
				<div class="name"><span class="link">Palantir</span></div>
				<div class="format">internship, product design</div>
			</a>
			<a href="https://github.com/rosszurowski/mime-sniffer" target="_blank" class="row">
				<div class="year">2015</div>
				<div class="name"><span class="link">docker-nginx-hhvm</span></div>
				<div class="format">development</div>
			</a>
			<a href="https://github.com/rosszurowski/mime-sniffer" target="_blank" class="row">
				<div class="year">2015</div>
				<div class="name"><span class="link">mime-sniffer</span></div>
				<div class="format">development</div>
			</a>
			<a href="/strata" class="row">
				<div class="year">2014</div>
				<div class="name"><span class="link">Strata</span></div>
				<div class="format">typeface</div>
			</a>
			<a href="/facebook" class="row">
				<div class="year">2014</div>
				<div class="name"><span class="link">Facebook, Inc.</span></div>
				<div class="format">internship, product design</div>
			</a>
			<a href="/caleb-winters" class="row">
				<div class="year">2014</div>
				<div class="name"><span class="link">Caleb Winters</span></div>
				<div class="format">web, development</div>
			</a>
			<a href="https://github.com/rosszurowski/deploy" target="_blank" class="row">
				<div class="year">2013</div>
				<div class="name"><span class="link">Deploy</span></div>
				<div class="format">development</div>
			</a>
			<a href="/format" class="row">
				<div class="year">2013</div>
				<div class="name"><span class="link">Format</span></div>
				<div class="format">web, front-end</div>
			</a>
			<a href="/pocket-change" class="row">
				<div class="year">2012</div>
				<div class="name"><span class="link">Pocket Change Apparel</span></div>
				<div class="format">web, development</div>
			</a>
			<a href="/r-alice-photography" class="row">
				<div class="year">2011</div>
				<div class="name"><span class="link">R. Alice Photography</span></div>
				<div class="format">web, development</div>
			</a>
		{% for project in projects %}
			{% include 'partials/project' with project %}
		{% endfor %}
		</div>
		
		<footer>
			<div>L15</div>
			<div>Made in Toronto</div>
			<div>{{ now | date('Y') }}</div>
		</footer>
		
	</section>
	
	<section class="visual"></section>

{% endblock %}