{% extends 'layout/site' %}

{% block content %}

	<section class="content">
	
		{% include 'partial/navigation' %}
	
		<header class="intro">
			<h2>Ross Zurowski</h2>
			<h4>Designer &amp; Developer</h4>
		</header>
		
		<div class="projects">
			{% set projects = pages | where('template', 'project') -%}
			{% set projects = projects | filter('thumbnail') -%}
			{% set projects = projects | sort('year', 'DESC') -%}
			{% for project in projects %}
				<div class="project{% if project.title === 'Rebecca Alice' %} small{% endif %}">
					<a href="{{ project.url }}" class="thumbnail">
						<img src="{{ join('/', project.slug, project.thumbnail) }}" />
					</a>
					<div class="meta">
						<div class="title">{{ project.title }}</div>
						<div class="tags">{{ project.year | date('Y') }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
		
		{% include 'partial/footer' %}
		
	</section>
	
	<section class="view" data-view>
		<div class="line"></div>
	</section>

{% endblock %}