{% extends 'layout/site' %}

{% block content %}

	<section class="content">
	
		{% include 'partial/navigation' %}
	
		<header class="intro">
			<h2>Ross Zurowski</h2>
			<h4>Designer &amp; Developer</h4>
		</header>
		
		<div class="description">
			<p>{{ page.headline | markdown | safe }}</p>
		</div>
		
		<!-- <div class="gradient"></div> -->
		
		<div class="projects">
			<div class="header row">
				<div>Date</div>
				<div>Title</div>
				<div>Type</div>
			</div>
			{% set projects = pages | where('template', 'project') %}
			{% for project in projects  | sort('year', 'DESC') -%}
				{% include 'partial/row' with project %}
			{%- endfor %}
		</div>
		
		<div class="lead-in">
			<a href="/information">Call to Action</a>
		</div>
		
		{% include 'partial/footer' %}
		
	</section>
	
	<section class="view" data-view>
		<div class="line"></div>
	</section>

{% endblock %}