{% extends 'layout/site' %}

{% block description -%}
	{{ page.meta.description | default(site.description) }}
{%- endblock %}

{% block content %}

	<section class="content">
		
		{% include 'partial/navigation' %}
		
		<div class="intro">
			<h2 class="title">{{ page.title }}</h2>
			<h4>{{ page.description | markdown | safe }}</h4>
		</div>
		
		<article class="description">
			{{ page.content | markdown | safe }}
		</article>
		
		<nav class="pagination">
			<a href="#"><span class="arrow">&larr;</span> Previous</a>
			<a href="#">Next <span class="arrow">&rarr;</span></a>
		</nav>
		
	</section>

	<section class="view">
		{% if page.partial %}
			{% set partial = relative(__views, join(__content, page.slug, page.partial)) %}
			{% include partial with page only %}
		{% endif %}
	</section>
	
{% endblock %}