main.information {
	
	.columns {
		display: flex;
	}
	
	.profile {
		margin-right: 4em;
		max-width: 15em;
	}
	
	.details {
		span {
			display: block;
			margin-bottom: 1em;
		}
		span:last-child {
			margin-bottom: 2em;
		}
	}
	
	.friends {
		ul {
			font-size: 14px;
		}
	}
	
	.version {
		margin-top: 8rem;
		color: #aaa;
		font-family: $monospaced;
		font-size: 10px;
		letter-spacing: 2px;
	}
	
}