@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";

@layer base {
  html {
    @apply font-sans text-lg leading-[1.7] tracking-[-0.035px] text-gray-800;
    @apply antialiased;
    @apply scroll-p-12;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  :root {
    --prism-comment: #727272;
    --prism-string: #338855;
    --prism-literal: #4f4f4f;
    --prism-keyword: #727272;
    --prism-function: #4f4f4f;
    --prism-deleted: #333333;
    --prism-class: #333333;
    --prism-builtin: #727272;
    --prism-property: #333333;
    --prism-namespace: #4f4f4f;
    --prism-punctuation: #ababab;
    --prism-decorator: var(--prism-class);
    --prism-operator: var(--prism-punctuation);
    --prism-number: var(--prism-literal);
    --prism-boolean: var(--prism-literal);
    --prism-variable: var(--prism-literal);
    --prism-constant: var(--prism-literal);
    --prism-symbol: var(--prism-literal);
    --prism-interpolation: var(--prism-literal);
    --prism-selector: var(--prism-keyword);
    --prism-keyword-control: var(--prism-keyword);
    --prism-regex: var(--prism-string);
    --prism-json-property: var(--prism-property);
    --prism-inline-background: var(--prism-background);

    /* --prism-foreground: #393a34;
    --prism-background: #fbfbfb;
    --prism-comment: #a0ada0;
    --prism-string: #b56959;
    --prism-literal: #2f8a89;
    --prism-number: #296aa3;
    --prism-keyword: #1c6b48;
    --prism-function: #6c7834;
    --prism-boolean: #1c6b48;
    --prism-constant: #a65e2b;
    --prism-deleted: #a14f55;
    --prism-class: #2993a3;
    --prism-builtin: #ab5959;
    --prism-property: #b58451;
    --prism-namespace: #b05a78;
    --prism-punctuation: #8e8f8b;
    --prism-decorator: #bd8f8f;
    --prism-regex: #ab5e3f;
    --prism-json-property: #698c96; */
  }
}

@layer components {
  .link-underline {
    @apply border-b border-gray-800/20 text-inherit;
  }

  .page-home {
    @apply text-white;
  }
  .page-home a[href] {
    @apply transition-opacity;
  }
  .page-home a[href]:hover {
    @apply opacity-70;
  }
  .page-home p a {
    @apply link-underline border-white/40;
  }

  .markdown {
    @apply leading-normal;
  }

  .markdown > *:not(h1):not(h2):not(h3) + *:not(li):not(h1):not(h2):not(h3) {
    @apply mt-5;
  }

  .markdown a {
    @apply border-b border-purpleVeryFaded text-purple transition-colors hover:border-purpleFaded;
  }

  .markdown strong {
    @apply font-semibold;
  }

  .markdown blockquote {
    @apply mt-4 pl-5;
    border-left: 2px #e2e2e2 solid;
    color: rgb(119, 119, 125);
  }

  .markdown h1,
  .markdown h2,
  .markdown h3 {
    @apply relative mt-8 mb-3 text-[1.222rem] font-semibold;
  }

  .markdown .anchor {
    @apply absolute top-0 -left-8 px-3;
    @apply border-b-0 text-stone-400 no-underline;
    @apply opacity-0 transition-opacity;
  }

  .markdown :hover > .anchor {
    @apply opacity-100;
  }

  .markdown .anchor::before {
    content: "#";
    @apply font-normal;
  }

  .markdown hr {
    @apply mx-auto mt-8 mb-14 border-0 border-b-2 pt-8;
    border-bottom: 2px solid #e2e2e2;
    max-width: 6rem;
  }

  .markdown ul,
  .markdown ol {
    @apply mt-4 pl-5;
  }

  .markdown ul {
    @apply list-none -indent-5;
  }

  .markdown ul li {
    @apply my-1;
  }

  .markdown ul li:before {
    @apply mr-3;
    content: "•";
  }

  .markdown code,
  .markdown pre {
    @apply rounded-md border-gray-500/50 font-mono text-sm;
  }

  .markdown pre {
    @apply overflow-x-auto bg-gray-100 py-3 px-3;
    tab-size: 3;
  }

  .markdown :not(pre) > code {
    @apply bg-gray-100 py-[0.15em] px-[0.35em];
  }

  .markdown figure img {
    @apply text-gray-500;
  }

  .markdown figcaption {
    @apply mt-2 text-sm text-gray-600;
  }

  .markdown .footnotes {
    @apply mt-12 max-w-lg text-sm;
  }

  .markdown .footnotes li {
    @apply text-sm leading-normal;
  }

  .markdown .footnotes li p {
    @apply inline;
  }

  .markdown sup a {
    @apply border-b-0 px-0.5 text-xs font-medium hover:border-b-0;
  }

  .markdown a.data-footnote-ref,
  .markdown a.data-footnote-backref {
    @apply relative top-0.5 border-b-0 p-0 font-[sans] text-inherit opacity-50 hover:opacity-25;
  }

  .markdown .footnotes ol {
    @apply list-decimal;
  }
}

@layer utilities {
}
