:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-string: #22863a;
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-constant: var(--shiki-token-string);
  --shiki-token-comment: #999;
  --shiki-token-keyword: #7a7a7a;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-punctuation: #414141;
  --shiki-token-link: #22863a;
}
