body {
  position: relative;
  color: #242424;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  letter-spacing: 0.09px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

.h-fade {
  transition: opacity 200ms ease;
}

.h-fade:hover {
  opacity: 0.7;
}

.ws-noWrap {
  white-space: nowrap;
}

.x-x {
  flex: 1 0 auto;
}
