// LES DO THIS

@import "modules/variables";

@import "partials/normalize";
@import "partials/navigation";

body {
  background: $background;
  padding: 4rem 2rem 2rem;
  font-size: 12px;
  font-family: $type-stack;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

.index {
  position: fixed;
  font-family: "FuturaPT-Heavy";
  font-size: 16px;
}

.header {
  position: fixed;
  top: 2rem; left: 2rem; right: 2rem;
  display: flex;
}

.masthead {
  flex-basis: calc(20% + 0.5rem);
  .logo {
    display: block;
  }
  .title {
  }
}

.logo {
  font-weight: bold;
}

.project {
 display: flex;
 border-top: 1px #ccc solid;
 padding: 1.2rem 1rem 1rem;
 transition: background 100ms ease;
 .date {
   flex: 0 0 20%;
 }
 .title {
   flex-basis: 20%;
   font-weight: bold;
 }
 .description {
   color: #ccc;
 }
 .tags {
   margin-left: auto;
 }
  .tag {
    padding-left: 0.75em;
    font-size: 11px;
  }
  &:hover {
    background: lighten($background, 2%);
    cursor: pointer;
  } 
}

.intro {
  max-width: 25rem;
  margin-bottom: 4rem;
}