// LES DO THIS

@import "modules/variables";
@import "modules/mixins";

@import "partials/font-face";
@import "partials/normalize";
@import "partials/navigation";

$padding: 4rem;

html,
body {
  height: 100%;
}

body {
  @include font-smoothing();
  background: $background;
  color: $type-color;
  font-family: $type-stack;
  font-size: 13px;
  line-height: 1.65;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  position: fixed;
  top: $padding;
  left: $padding;
  right: $padding;
}

.masthead {
  flex-basis: 20%;
  .logo {
    display: block;
    font-weight: bold;
  }
  .slash {
    padding: 0 0.35em 0 0.175em;
    color: lighten($type-color, 25%);
  }
}

.links {
  flex-basis: 20%;
}

.link {
  display: block;
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}

.profile {
  margin-left: auto;
}

canvas {
  display: block;
  position: relative;
  z-index: -1;
}

.footer {
  position: fixed;
  left: $padding;
  bottom: $padding;
}
