<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" class="{{- block "htmlClass" . -}}{{- end -}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .IsPage }}{{ printf "%s – %s" .Title .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ .Site.Params.description }}">

  {{ partial "meta-og.html" . -}}
  {{ partial "meta-twitter.html" . }}

  <link rel="icon" type="image/png" href="/favicon.png" data-dark-href="/favicon-dark.png">
  <link rel="mask-icon" href="/favicon-mask.svg" color="#242424" data-dark-color="#ffffff">
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end -}}

  {{- block "head" . }}{{ end -}}

  {{- $style := resources.Get "index.css" | resources.PostCSS (dict "config" "postcss.config.js" "noMap" true) | resources.Fingerprint "sha256" }}
  <link rel="stylesheet" media="screen, projection" href="{{ $style.RelPermalink }}">

  {{- $opts := dict "targetPath" "bundle.js" "minify" true }}
  {{- $built := resources.Get "index.ts" | js.Build $opts | resources.Fingerprint "sha256" }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" defer></script>
  <script async defer data-domain="rosszurowski.com" src="https://plausible.io/js/plausible.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body class="{{- block "bodyClass" . -}}{{- end -}}" data-barba="wrapper">
  {{- block "container" . }}{{- end }}
</body>
</html>
