.menu {
	
	font-size: 13px;
	margin-bottom: 8em;
	
	display: flex;
	justify-content: space-between;
	
	a {
		
		position: relative;
		color: #444;
		letter-spacing: 0.01em;
		z-index: 2;
		
		& + a {
			margin-left: 1.5rem;
		}
		
	}
	
	.active::after {
		content: ' ';
		position: absolute;
		top: 0.35em; left: 0;
		display: block;
		width: 100%; height: 0.5em;
		background: #ff0;
		z-index: -1;
	}
	
	.slash {
		color: $gray;
	}
	
	.project-name {
		position: relative;
		margin-right: 1em;
	}
	
}