$column-width: 38em;

.content {

	background: #fff;
	position: absolute;
	top: 0; left: 0;
	min-height: 100%;
	
	max-width: $column-width;
	width: 90%;
	padding: 3rem 3rem 2rem 4rem;
	
	transition: max-width 400ms $ease;
	
	&.wide { max-width: 50em; }
	
}

.view {
	display: flex;
	position: fixed;
	top: 0; bottom: 0; right: 0;
	left: $column-width;
	transition: background 400ms ease;
}

nav {
	margin-bottom: 4em;
}