$column-width: 38em;

.content {

	background: #fff;
	position: absolute;
	top: 0; right: 0;
	z-index: 2;
	
	padding: 3rem 3rem 2rem 3.5rem;
	min-height: 100%;
	max-width: $column-width;
	width: 90%;
	
	transition: max-width 400ms $ease;
	
	&.wide { max-width: 50em; }
	
}

.view {
	display: flex;
	position: fixed;
	top: 0; right: $column-width;
	bottom: 0; left: 0;
	z-index: 1;
	transition: background 400ms ease;
}

nav {
	margin-bottom: 4em;
}