<nav class="menu">
	<div>
		<a href="/" {%- if page.template === 'project' or page.template === 'home' %} class="active"{% endif -%}>Portfolio</a>
		<a href="/experiments">Experiments</a>
		<a href="/information" {%- if page.template === 'information' %} class="active"{% endif -%}>Information</a>
	</div>
	<div>
		<!-- <a href="#" target="_blank">Thesis</a> -->
		<a href="http://rosszurowski.tumblr.com" target="_blank">Tumblr</a>
	</div>
</nav>