{% if project.type === 'link' %}
<div class="row link">
{% else %}
<div class="row">
{%- endif %}
	{% if project.year === '--' -%}
		<div class="year dash"></div>
	{%- else -%}
		<div class="year">{{ project.year | date('Y/m') }}</div>
	{%- endif %}
	<a href="{{ project.link | default(project.url) }}" class="title" {%- if project.link %} target="_blank"{% endif %}>
		<span class="link">{{ project.title }}</span>
	</a>
	<div class="tags">
	{%- for tag in project.tags -%}
		<a href="#">{{ tag }}</a>
		{%- if !loop.last %}, {% endif %} 
	{%- endfor -%}
	</div>
</div>