{{- if .IsPage }}
  <meta property="og:title" content="{{ .Title | default .Site.Title }}">
  <meta property="og:description" content="{{ .Description | default .Params.summary | default .Summary }}">
{{- else }}
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:description" content="{{ .Description | default .Site.Params.description }}">
{{- end }}
  <meta property="og:type" content="{{ if eq .Section "log" }}article{{ else if .Params.type }}{{ .Params.type }}{{ else }}website{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
{{ with .Params.images }}{{ range first 6 . -}}
  <meta property="og:image" content="{{ . }}">
{{ end }}{{ end -}}
{{ with .Site.Title }}  <meta property="og:site_name" content="{{ . }}">{{ end }}
{{ with .Lastmod }}  <meta property="og:updated_time" content="{{ .Format "2006-01-02" }}">{{ end }}
