h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

	h1 { font-size: 4em; }

p { margin: 0; }

	p + p, img + p, ul + p,
	p + ul, p + img { margin-top: 1em; }

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
	&:focus {
		outline: none;
	}	
}

img {
	max-width: 100%;
	height: auto;
}

pre, code {
	font-family: Menlo, Monaco, monospace;
	font-size: 11px;
}