$ease: cubic-bezier(0.190, 1.000, 0.220, 1.000);

$gray: #f3f2f2;
$bright: #fc4d53;
$gradient: linear-gradient(45deg, #5bbadf 0%,#7dcbbd 100%);

$sans: "Theinhardt", "Helvetica Neue", Arial, sans-serif;
$serif: "TiemposHeadline-Light", serif;
$monospaced: "AtlasTypewriterRegular", "InputMono-Regular", Menlo, Monaco, monospace;