// headers
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: "TiemposText-Regular";
	font-size: 2em;
}

// links
a {
	color: inherit;
	text-decoration: none;
}
	
// paragraphs
p {
	margin: 0;
	letter-spacing: 0.05em;
	
	& + & {
		margin-top: 1em;
	}
	
}