
html,
body {
  height: 100%;
}

html {
  background: var(--background);
  color: var(--spectrum-1);
  font-family: var(--type-stack);
  font-size: var(--type-root-size);
  line-height: var(--type-line-height);
  font-weight: 200;
  letter-spacing: 0.02em;
}

body {
  padding: var(--padding-vertical) var(--padding-horizontal);
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  width: 90%;
  height: 100%;
  z-index: 2;
}

.location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-bottom: 15vh;
}

.place {
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1px;
  opacity: 0.5;
}

.place-latitude,
.place-longitude {
  display: block;
}

.profile {
  margin-bottom: 2rem;
  margin-bottom: 12vh;
}

.profile-name {
  display: block;
  margin-right: 0.5rem;
  color: var(--spectrum-0);
}

.profile-role {
  font-size: 16px;
  opacity: 0.5;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
}

.profile-dash {
  display: inline-block;
  width: 50px;
  height: 3px;
  background: var(--spectrum-2);
  vertical-align: middle;
  margin: 0 0.4em;
  opacity: 0.5;
}

.biography {
  margin-bottom: 8vh;
}

.biography a {
  color: var(--yellow);
}

.biography a:hover,
.contact a:hover,
.elsewhere a:hover {
  border-bottom: 2px currentColor solid;
}

.contact {
  margin-bottom: auto;
}

.elsewhere {
  display: flex;
  font-size: 16px;
}

.elsewhere-links {
  display: flex;
}

.elsewhere-label {
  opacity: 0.5;
  margin-right: 1.5em;
}

.elsewhere-link {
  margin-right: 0.75em;
}

.caption {
  position: fixed;
  display: flex;
  justify-content: space-between;
  transform: translateX(50%) rotate(-90deg);
  transform-origin: top center;
  right: var(--padding-horizontal);
  top: 50%;
  width: 100vh;
  padding: 0 var(--padding-vertical);
  font-size: 12px;
  opacity: 0.5;
  z-index: 2;
}

.canvas {
  z-index: 9;
  opacity: 1.0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 4000ms ease;
}

.circle {
  position: absolute;
  top: 50%;
  left: 67.5%;
  background: #464d58;
  border-radius: 50%;
  display: none;
  width: 14px; height: 14px;
  transform: translate(-50%, -50%);
  animation: blink 150ms linear infinite;
  transition: opacity 200ms ease;
}

.loading .circle {
  display: block;
}

.loading .canvas {
  opacity: 0.0 !important;
  transition-duration: 0ms;
}

@keyframes blink {
  0%    { opacity: 1.0; }
  49%   { opacity: 1.0; }
  50%   { opacity: 0.0; }
  99%   { opacity: 0.0; }
  100%  { opacity: 1.0; }
}

@media (height <= 660px) {
  html,
  body {
    height: auto;
  }
  .contact {
    margin-bottom: 2rem;
  }
}

@media (width <= 620px) {

  body {
    padding: 30px 20px;
    letter-spacing: 0.01em;
    overflow: hidden;
  }
  .circle,
  canvas {
    display: none;
  }
  .profile {
    margin-bottom: 2rem;
  }
  main {
    position: static;
  }

  .biography {
    margin-bottom: 2rem;
  }

  .caption {
    display: none;
  }
}
