
body {
  background: var(--background);
  color: var(--type-color);
  font-family: var(--type-stack);
  font-size: var(--type-root-size);
  line-height: var(--type-line-height);
}

.thunder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-100%);
  animation: blink 1000ms linear infinite;
}

svg {
  display: block;
}

@keyframes blink {
  0%    { opacity: 1.0; }
  58%   { opacity: 1.0; }
  60%   { opacity: 0.0; }
  98%   { opacity: 0.0; }
  100%  { opacity: 1.0; }
}
