
@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-Light.eot') format('eot'),
       url('/assets/fonts/CalibreWeb-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
